<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <fieldset
            className="my-6 p-4 border rounded-md bg-white shadow-sm max-w-md mx-auto"
        >
            <legend className="font-semibold text-lg mb-4 block">
                Modifier mon {label(editModeField.field).toLowerCase()} :
            </legend>

            <input className="w-full p-3 border border-gray-300 rounded-md
            focus:outline-none focus:ring-2 focus:ring-blue-500 transition"
            value={editModeField.value} onChange={(e) => setEditModeField((prev)
            => prev ? { ...prev, value: e.target.value } : null ) } />

            <div className="flex justify-between mt-5 gap-10">
                <SaveButton
                    onClick="{saveSingleField}"
                    label="Sauvegarder"
                    className="flex-1 mr-2"
                />
                <BackButton onClick={() => setEditModeField(null)}
                label="Retour" className="flex-1 ml-2" />
            </div>
        </fieldset>
    </body>
</html>
